<table class="table">
  <tr>
    <td><%= t("form.date") %></td>
    <td><%= @consume[:created_at].strftime("%Y/%m/%d %H:%M:%S %a") %></td>
  </tr>
  <tr>
    <td><%= t("form.value") %></td>
    <td><%= @consume[:value] %></td>
  </tr>
  <tr>
    <td><%= t("form.msg") %></td>
    <td><pre><%= @consume[:msg] %></pre></td>
  </tr>
  <tr>
    <td><%= t("form.tag") %></td>
    <td>
      <% @consume[:tags].each do |tag| %>
       <span class="label label-info"><%= tag.label %></span>
      <% end if @consume[:tags] %>
      <%= "no-tag" unless @consume[:tags] %>
    </td>
  </tr>

  <% for consume in @consume[:list] %> 
    <tr>
      <td><%= consume.value %></td>
      <td><%= link_to "edit", edit_consume_path(consume), remote: true, class: "btn" %></td>
    </tr>
  <% end if user_signed_in? and @consume[:list] %>
</table>
