<h1>Listing Replies</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Name</th>
    <th>Email</th>
    <th width="50%">Content</th>
    <th>Del</th>
  </tr>
  <% @replies.each do |reply| %>
    <tr id="<%= dom_id reply %>">
        <td><%= link_to reply.segment.title, reply.segment.permlink_path, target: "_blank" %></td>
	<td>name:<%= reply.name %></td>
	<td>email:<%= reply.email %></td>
	<td><%= reply.content %></td>
	<td><%= link_to t("btn.del"), reply, method: :delete, remote: true, data: { confirm: "Are you sure?" },
	      class: "btn btn-mini btn-danger" if user_signed_in? %></td>
    </tr>
  <% end if @replies %>
   
</table>

<div class="span12">
  <%= render :partial => "replies/form", locals: { :segment => @segment, :reply => @reply } %>
</div>
