  
<div class="wall span12">
  <% @favorities.each do |favor| %>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	  Collapsible Group Item #1
	</a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
	<div class="accordion-inner">
	    Anim pariatur cliche...
	</div>
      </div>
    </div>
  </div>
      <h3>
	  <%= favor.label %> 
	  <%= link_to t("btn.new"), new_favority_site_path(favor), :remote => true, class: "btn btn-mini btn-primary",
	      onclick: "$('.loading').css('display','block');" if user_signed_in? %> 
      </h3>

      <div class="row" id="<%= dom_id favor %>">     

	<% favor.sites.each do |site| %>

	  <div class="span3 dot label label-info" id="<%= dom_id site %>">
	     <%= site.name %>
	     <%= link_to "", favority_site_path(favor,site), remote: true, class: "icon-list",
		 onclick: "$('.loading').css('display','block');" %>
	  </div>

	<% end if favor.sites %>

      </div>

    <% end if @favorities %>
  </div>
