<%= render :partial => "demo/resume_style.html.erb" %>
<style>
ol li {
  margin-left: 30px;
}
</style>
<%= javascript_include_tag "china_map_chart" %>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="0">

    <!-- Docs nav
    ================================================== -->
      <div class="span3 bs-docs-sidebar" style="marign-left:0px;">
        <ul class="nav nav-list bs-docs-sidenav affix" id="china_map_chart_navbar">
          <li><a  href="#part1"><i class="icon-chevron-right"></i>插件说明</a></li>
          <li><a  href="#part2"><i class="icon-chevron-right"></i>简单实例</a></li>
          <li><a  href="#part3"><i class="icon-chevron-right"></i>参数说明</a></li>
          <li><a  href="#part4"><i class="icon-chevron-right"></i>复杂实例</a></li>
          <li><a  href="#part5"><i class="icon-chevron-right"></i>遗留问题</a></li>
        </ul>
      </div>
      <div class="span7" style="margin-left:100px;">
           <div class="toggle-show" id="part1">
	      <div class="page-header">
		<h1>插件说明</h1>
	      </div> 
              <%= render :partial => "demo/china_map_chart_part1.html.erb" %>
           </div>

           <div class="toggle-show" id="part2">
	      <div class="page-header">
		<h1>简单实例</h1>
	      </div> 
              <%= render :partial => "demo/china_map_chart_part2.html.erb" %>
	   </div>


           <div class="toggle-show" id="part3">
	      <div class="page-header">
		<h1>参数说明</h1>
	      </div> 
              <%= render :partial => "demo/china_map_chart_part3.html.erb" %>
           </div>

           <div class="toggle-show" id="part4">
	     <div class="page-header">
               <h1>复杂实例</h1>
             </div> 
              <%= render :partial => "demo/china_map_chart_part4.html.erb" %>
           </div>


</div>

</body>
